<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <link rel="stylesheet" type="text/css" href="../static/cool_comment/css/CoolComment.css?v=1.3">
<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}cool_comment/fancybox/jquery.fancybox-1.3.4.css?v=1.0">-->

  <script type="text/javascript">
  var ServerAdrress="";
  var JsFilePath="../static/";
  var IsDebug=false;
  var DeviceKind="";
function SetDeviceKind(deviceKind)
{
	DeviceKind=deviceKind;
}
 
  function TT()
{
	 var articleId =18271;
	   var geturl="http://iapi.msgcopy.net/iapi/article/"+articleId+"/comment/";
      $.ajax(
     {url:geturl,type:"GET",dataType:"JSONP",success:function(data,status)
       {
	    LoadArticleComment(data);	 
      }
      }
    );
} 
function TT1()
{
	 var commentId =6852;
	   var geturl="http://iapi.msgcopy.net/iapi/article/comment/"+commentId+"/"+$channel_id;
     $.ajax(
       {url:geturl,type:"GET",dataType:"JSONP",success:function(data,status)
       {
		 LoadComment(data);
     	 $("#LoaderLayer").css({"display":"none"});
     	 $("#comment_content").css({"display":"block"});
       }
       }
     );  
} 
 
function load()
{
	 
     
      // var JsFilePath="../static/";
      //  ServerAdrress="http://iapi.msgcopy.net";
     
      
      var jquery=[JsFilePath+"cool_comment/js/jquery.js?v=1.0"]; //jquery 文件
      
        var random="";
        if(IsDebug)random=Math.random();
        
        //other js 
      var FilesArray=[ 
      //JsFilePath+"cool_comment/css/CoolComment.css?v=1.0",
      //JsFilePath+"cool_comment/fancybox/jquery.fancybox-1.3.4.css?v=1.0",
 
       JsFilePath+"cool_comment/js/jquery.touchSwipe.min.js?v=1.32"+random,
      JsFilePath+"cool_comment/js/WebAppFreamwork.js?v=1.34"+random,
      JsFilePath+"cool_comment/js/ArticleComment.js?v=1.73"+random,
      JsFilePath+"cool_comment/js/CoolComment.js?v=1.41"+random,
      
      JsFilePath+"cool_comment/fancybox/jquery.mousewheel-3.0.4.pack.js?v=1.0"+random
     // JsFilePath+"cool_comment/fancybox/jquery.fancybox-1.3.4.pack.js?v=1.0"+random
      ];
		Import.LoadFileList(jquery,function(){
			 
           Import.LoadFileList(FilesArray,function(){
           
           		 // LoadCoolComment();
           		   window.location.href = "loadfinished://";
           		//TT();
           		//TT1();
           		 
           });
		});
 
}
 
function GetStaticUrl()
{
	return JsFilePath;
} 
 
var classcodes =[];
window.Import={
    /*加载一批文件，_files:文件路径数组,可包括js,css,less文件,succes:加载成功回调函数*/
    LoadFileList:function(_files,succes){
        var FileArray=[];
        if(typeof _files==="object"){
            FileArray=_files;
        }else{
            /*如果文件列表是字符串，则用,切分成数组*/
            if(typeof _files==="string"){
                FileArray=_files.split(",");
            }
        }
        if(FileArray!=null && FileArray.length>0){
            var LoadedCount=0;
            for(var i=0;i< FileArray.length;i++){
            	console.info(FileArray[i]);
                loadFile(FileArray[i],function(){
                    LoadedCount++;
                    if(LoadedCount==FileArray.length){
                        succes();
                    }
                })
            }
        }
        /*加载JS文件,url:文件路径,success:加载成功回调函数*/
        function loadFile(url, success) {
            if (!FileIsExt(classcodes,url)) {
                var ThisType=GetFileType(url);
                
                var fileObj=null;
                if(ThisType==".js"){
                    fileObj=document.createElement('script');
                    fileObj.src = url;
                }else if(ThisType==".css"){
                    fileObj=document.createElement('link');
                    fileObj.href = url;
                    fileObj.type = "text/css";
                    fileObj.rel="stylesheet";
                }else if(ThisType==".less"){
                    fileObj=document.createElement('link');
                    fileObj.href = url;
                    fileObj.type = "text/css";
                    fileObj.rel="stylesheet/less";
                }
                success = success || function(){};
                fileObj.onload = fileObj.onreadystatechange = function() {
                    if (!this.readyState || 'loaded' === this.readyState || 'complete' === this.readyState) {
                        success();
                        classcodes.push(url)
                    }
                }
                document.getElementsByTagName('head')[0].appendChild(fileObj);
            }else{
                success();
            }
        }
        /*获取文件类型,后缀名，小写*/
        function GetFileType(url){
            if(url!=null && url.length>0){
                  
                 if(!contains(url))
                  {//包含? 没有版本号
                  	return url.substr(url.lastIndexOf(".")).toLowerCase();
                  	}
                   else
                   {
                   	var aa= url.substr(0,url.lastIndexOf("?")).toLowerCase();
                     aa=aa.substr(aa.lastIndexOf(".")).toLowerCase();
                    return aa;
                   }
                  
            }
            return "";
        }
        function contains(content)
        {
        	 var reg=/\?/g;
     	   var data=content.match(reg);
 	      return data!=null;
        }
        /*文件是否已加载*/
        function FileIsExt(FileArray,_url){
            if(FileArray!=null && FileArray.length>0){
                var len =FileArray.length;
                for (var i = 0; i < len; i++) {
                    if (FileArray[i] ==_url) {
                       return true;
                    }
                }
            }
            return false;
        }
    }
}

 
</script>
</head>
<body onload="load()">
	<div id="LoaderLayer" style='position:absolute;left:0;top:0;bottom:0;right:0;background:#FFFFFF;z-index:2;'>
		<div id="topLoader" style="position:absolute;top:50%; left:50%;  margin-left: -15px; margin-top:-40px;">
			<img style="width: 30px;" src="../static/cool_comment/image/preloading.gif"/>
		</div>
	</div>
	 
	 <!-- <div id="comment_content">
	 	
	 </div> -->
	 <div id="attach_layer">
	 	
	    <div id="attach_comment_layer"   >
	    	 
	    </div>
	 	<div id="audio_list" style="color:white;"> </div>
	 	<div id="images_list" style="color:white;"></div>
	 	<div id="video_list" style="color:white;"></div>
	 	
	 	<div id="attach_list" style="color:white;"></div>
	 </div>
	  
	 <div id="DataPool" style="display:none;"></div>
	 
	 <img id="static"  style="display:none;" src="../">
</body>
</html>